{% extends 'base.html' %}

{% block titulo %} Login {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12 shadow mt-5">
            <div class="col-12 rounded mt-5" style="background-color: gray;">
                <h1 style="text-align: center;" class="m-1" >Login</h1>
            </div>
        </div>
        <div class="col-12">
            <form action="" method="post">
                <!-- colocar o formulario -->
                {{ form_login.csrf_token }}

                {{ form_login.email.label(class="fs-5") }}
                {{ form_login.email(class="form-control")}}

                {{ form_login.senha.label(class="fs-5") }}
                {{ form_login.senha(class="form-control")}}

                {{ form_login.btnsubmit(class="btn btn-primary mt-4 w-100") }}
            </form>
        </div>
        
        <hr>

        <!-- botão de cadastro -->
        <div class="footer">
            <span class="fs-5">Não tem cadastro?</span>
            <button type="button" class="col-1 btn btn-primary " data-bs-toggle="modal" data-bs-target="#cadastro">
                Cadastrar
            </button>
        </div>

        <!-- modal -->
        <div class="modal fade" id="cadastro" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Cabeçalho do modal -->
                    <div class="modal-header bg-primary">
                        <h5>Faça seu Cadastro...</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- corpo do modal -->
                    <div class="modal-body">
                        <form action="" method="post">
                            <!-- colocar o formulario -->
                            {{ form_cadastro.csrf_token }}

                            {{ form_cadastro.nome.label(class="fs-5") }}
                            {{ form_cadastro.nome(class="form-control") }}

                            {{ form_cadastro.sobrenome.label(class="fs-5") }}
                            {{ form_cadastro.sobrenome(class="form-control") }}

                            {{ form_cadastro.email.label(class="fs-5") }}
                            {{ form_cadastro.email(class="form-control") }}

                            {{ form_cadastro.senha.label(class="fs-5") }}
                            {{ form_cadastro.senha(class="form-control") }}

                            {{ form_cadastro.confirmacao_senha.label(class="fs-5") }}
                            {{ form_cadastro.confirmacao_senha(class="form-control") }}

                            {{ form_cadastro.btnsubmit(class="btn btn-primary mt-4 w-100") }}
                        </form>
                    </div>

                    <!-- rodapé do modal -->
                    <div class="modal-footer bg-secondary">
                        <button type="button" class="btn btn-danger col-3" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
        

        
    </div>
{% endblock %}